*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-display: Saes-Serif;
}
:root{
    --letras:#222222;
    --naranja:#b0cf00 ;
    --gris:#6b7280;
    --blanco:#eef6ff;
    --blancoFondos:#fdfdfd;
    --negro:#17181D;
    --secundario:#232836;
    --gris-fili:#8198ae;
}
body{
    background-color: #f3f4f6;
    font-display: arial;
    position: relative;
    min-height: 1500px; max-height: auto;
}
/*galeria*/
.imagen{
   width: 100%; max-width: 1680px;
    height: auto;
    margin: 5rem auto; 
    justify-content:center;
    padding: 1rem 0 ;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    overflow: hidden;
    padding-bottom: 20rem;
}
img{
    object-fit: contain;
    width: 48%; 
    min-width: 175px;
    transition: all .3s ease-in-out;
}
.contiene{
    position: relative;
    width: 100%;
    z-index: 999;
    position: fixed;
}
.containerBtn > button{
    display: none;
}
.ant{
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 1%;
    z-index: 10;
    width: 50px; height: 50px;
    position: fixed;
    cursor:pointer;
    border: none;
}
.ant > svg{
    opacity: .5;
    width: 40px; height: auto;
    border-radius: 50%;
    padding: 5px;
    background-color: var(--blancoFondos);
}
.sig{
    background-color: transparent;
    position: absolute;
    top: 50%;
    right: 1%;
    z-index: 10;
    width: 50px; height: 50px;
    position: fixed;
    transform: rotatey(180deg);
    transition: all .3s ease-in-out;
    border: none;
    cursor:pointer;
}
.sig > svg{
    opacity: .5;
    width: 40px; height: auto;
    border-radius: 50%;
    padding: 5px;
    background-color: var(--blancoFondos);
}
.close{
    opacity: .5;
    position: absolute;
    top: 0.5%;
    right: 0.5%;
    background-color: transparent;
    width: 50px; height: 50px;
    z-index: 10;
    position: fixed;
    border:none;
    cursor:pointer;
}
.close > svg{
    width: 50px; height: auto;
    border-radius: 50%;
    padding: 5px;
    background-color: var(--blancoFondos);
}
.mostrarImg{
    display: none;
}
.mostrarImg{
   position: absolute;
   position: fixed;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:100%; height: 100%;
  backdrop-filter: blur(20px);
  background-color: #61616156;
}
.imagenActual{
    min-width:100%; height: 100%;
    object-fit: contain;
    transition: all .3s  ease-in-out;
}
.contador{
    font-size: 1.5rem;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 11;
    color: var(--blancoFondos);
    padding: 2px;
}






 
 