*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-display:arial;
}


:root{
    --letras:#222222;
    --naranja:#9d9edc;
    --gris:#6b7280;
    --blanco:#d1d1d1;
    --blancoFondos:#fdfdfd;
    --negro:#171523;
    --secundario:#232836;
    --gris-fili:#8198ae;
}
body{
    background-color: #f3f4f6;
    position: relative;
    min-height: 1000px;
}


.container{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    column-gap: 1rem;
}


.img-lado{
    width: 50%; min-width: 500px; 
    object-fit: contain;
}

.metodoPago{
    width: 40%; min-width: 350px;
}
/*metodos de pago*/
.metodoPago{
    margin: 2rem 0;
    padding: 2rem 0;
}
.metodoPago > h3{
text-align: center;
margin: 0 0 1rem 0;
}
.metodoPago > p{
    text-align: left;
    padding: 0 2rem 0 .99rem;
    width: 95%; max-width: 1100px;
    color: var(--gris);
}
.metodoPago > div{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem auto;
    width: 100%; max-width: 1550px;
    justify-content: space-between;
}

.TarjetaPago{
    width: 100%; min-width: 350px; max-width: 450px;
    text-align: left;
    padding: 1rem;
    
}
.TarjetaPago > p{
    color: var(--gris);
}
@media screen and (max-width:870px) {
    .img-lado,  .metodoPago{
       min-width: 100%;
    }
}