*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-display: Saes-Serif;
}
:root{
    --letras:#222222;
    --naranja:#b0cf00 ;
    --gris:#616161;
    --blanco:#eef6ff;
    --negro:#17181D;
    --secundario:#232836;
}
@font-face {
    font-family:'titulo';
    src: url("letras/Blackgold-qGAl.otf");
}
@font-face {
    font-family:'textos';
    src: url("letras/BamaFontCursiva.otf");
}

body{
    background-color: var(--blanco);
    font-display: arial;
}
.bama{
    color: var(--gris);
    letter-spacing: 2px;
    font-weight: 200;
    font-size: .75rem;
    font-family: "Lato", "titulo";
    font-weight: 200;
    font-style: normal;
}
h2{
    font-weight: 800;
    font-size: 1.5rem;
    font-family: "system-ui", "titulo";
    font-style: normal;
}

/*Menu*/
/*tamaños, letras y demas cosas esteticas*/

.menu{
    box-shadow: 0 2px 3px rgba(104, 104, 104, 0.448);
    background-color: var(--secundario);
    display: flex; justify-content: space-around;
    align-items: center;
    width: 100%;
    
}
.menu a{
    transition: all .3s ease-in-out;
    text-decoration: none;
    font-size: .8rem;
    color: var(--blanco);
    font-family: "titulo";
    font-weight: 600;
    letter-spacing: 2px;
}
.menu a:hover{
    color:var(--naranja)
}

.logo{
    width: 100px;
    text-align: center;
    color: var(--blanco);
}
.logo > a{
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 800;
    color: var(--Blanco);
}

/*empieza */

.ul-main{
    height: 59px;
    list-style: none;
    display: flex;
    width: 100%; max-width: 700px;
    justify-content: space-evenly;
    align-items: center;
}
.ul-main li{
    width: 100px;
    text-align: center;
}
.ul-main li a > button{
    padding: 9px;
    border-radius: 14px;
    background-color: var(--naranja);
    border: 1.5px solid var(--naranja);
    color: var(--secundario);
    transition: all .3s ease-in-out;
    cursor: pointer;
    font-size: .8rem;
    font-family: "titulo";
    font-weight: 600;
    letter-spacing: 2px;
}
.ul-main li a > button:hover{
    color: var(--blanco);
}
.dropdown{
    position: relative;
}
.sublist{
    width: 200px;
    left: -50px;
    padding: 0 0px 0 50px;
    margin: 18px 0 0 0;
    background-color: var(--secundario);
    position: absolute;
    list-style: none;
    display: none;
}
.sublist > li{
    transition: all .3s ease-in-out;
    margin: 1em 0 1em 0;
}
.hover{
    display: block;
}
.aparece{
    max-width:44px;
    transform: rotate(90deg);
    background-color: transparent;
    display: none;
    border: none;
    border-radius: 6px;
    color: var(--Blanco);
}


@media screen and (max-width:991px){
    .menu{
        justify-content: center; height: 59px;
      box-shadow: none;
    }
    .ul-main li{
         height: auto;
        display: block;
    }
    .ul-main{
        display: block;
        position: absolute;
        transform: scaley(0);
        top: 59px;
       transform-origin: top;
        min-width: 100%;
        height: auto;
       transition: all .3s ease-in-out;
       z-index: 0;
        padding: 1em;
        background-color: var(--secundario);
    }
    .ul-main li{
       width: 100%; 
       padding: .5em 0 .5em 0;
       margin: 1em 0 1em 0;
       transition: all .3s ease-in-out;
    }
    
    .sublist{
        background-color: transparent;
        position: static;
        min-width: 100%;
        width: 200px;
    left: 0px;
    padding: 0 0px 0 0px;
    }
    .aparece{
        position: absolute;
        right: 10px;
        top: 10px;
        width: 40px; height: 40px;
        display: block;
        cursor: pointer;
        color: var(--blanco);
    }
    .seve{
        display: block;
        box-shadow: 0 2px 3px rgba(104, 104, 104, 0.448);
        top: 59px;
        transform: scaleY(1);
        z-index: 100000;
    }


}



/*termina texto header -> empieza Main*/ 
.sobreMi{
    width: 100%; height: auto;
    min-height: 250px;
    padding: 1.5rem 0;
    margin:0 auto;
    color: var(--blanco);
    background-image: url(https://raw.githubusercontent.com/Cormaxs/bama/main/Fotos-Prueba.nicole/0.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.sobreMi h4{
    font-family: titulo;
    padding: 1rem 1rem;
    font-size: 1.5rem;
    max-width: 1280px;
    margin: auto;
}
.sobreMi p{
    width: 95%;
    max-width: 1280px;
    margin: auto;
    text-align: left;
    font-size: 1.1rem;
    padding-left: 1.5rem;
    font-family: texto;
}

/*termina sobre mi*/
.dentroMain{
    width: 100%; max-width: 1288px;
    height: 450px;
    margin: 1.5rem auto;
    display: flex;
    justify-content:left;
    padding-bottom: .5rem;
    gap: 2rem;
    overflow-x: scroll;
}
.dentroMain::-webkit-scrollbar {
    background-color: rgba(225, 225, 225, 0.672);
    border-radius: 20px;
}
.dentroMain::-webkit-scrollbar-thumb{
    background-color: rgb(154, 154, 154);
    border-radius: 20px;
    width: 50px;
}
main{
    margin: 3rem 0 0 0;
}
main > h2,.bama{
    margin: 1rem auto;
    text-align: center;
}

.tarjeta-img{
    position: relative;
    min-width: 300px;
}

.tarjeta-img a {
    color: white;
    text-decoration: none;
}
.tarjeta-img a > img{
    height: 100%; width: 100%;
    object-fit: cover;
}

.texto-img{
    background: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    bottom: 0;
    padding: 1rem 0 1rem 0;
    width: 100%;
    text-align: center;
}
.texto-img > a span,h3{
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: .8rem;
}

.texto-img >  h3{
    font-size: 1.2rem;
    font-family: "titulo";
    font-weight: 800;
    letter-spacing: 1px;
}


/*termina main*/

.texto{
    text-align: center;
    margin: 2rem auto;
    
}
.divContainer{
width: 95%; max-width: 1280px;
margin: 2rem auto;
display: flex;
flex-wrap: wrap;
gap: 1.5em;
text-align: center;
justify-content: center;
padding: 0 0 2rem 0;
border-bottom: 1px solid grey;
}
.tarjeta-img2  a{
   color: var(--blanco);
   text-decoration: none;
}

.tarjeta-img2{
    position: relative;
    flex-grow: 1;
    flex-basis: 200;
    width: 370px; height: 380px;
    overflow: hidden;
}
.textos2{
    background: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
   padding: 1rem 0 1rem 0 ;
    width: 100%;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0px;
    text-align: center;
}
.textos2 h3{
    font-family: titulo;
    font-size: 1.5rem;
    font-weight: 600;
}
.tarjeta-img2 a > img{
    width: 100%; height: 100%;
    object-fit: cover;
}


/*Sombras general para divs con imagenes*/
.divContainer:hover > :not(:hover), .dentroMain:hover > :not(:hover){
    filter: grayscale(1);
    transition: all .3s ease-in-out;
}
.tarjeta-img, .tarjeta-img2{
    transition: all .3s ease-in-out;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.404)
}
.tarjeta-img:hover , .tarjeta-img2:hover{
    filter:saturate(1.5);
    transition: all .3s ease-in-out;
    transform-origin: bottom;
    transform: translateY(-1rem);
}


/*numeros clientes cursos,fotos etc*/
.container-numeros{
    width: 95%; max-width: 1280px;
    margin: auto;
    text-align:center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   gap: 2rem;
}
.numeros{
    min-width: 300px;max-width: 100%;
    font-weight: 800;
    text-align: center;
    font-size: 1rem;
    font-family: "titulo";
}
.numeros > h2::before{
    content: ' + ';
}
.numeros > h2{
   margin: 0 0 .5rem 0;
}
/*CARRUCEL*/
.slider-box{
    width: 100%; max-width: 1280px;
    height: auto;
    margin:50px auto 0;
    overflow: hidden;
}
.slider-box ul{
    display: flex;
    width: 1000%;
    animation: slide 40s infinite alternate ease-in-out;
}
.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}


.slider-box img{
    width: 100%; height: 100%;
    object-fit: contain;
}
@keyframes slide{
    0%{margin-left: 0;}
    5%{margin-left: 0;}

    10%{margin-left: -100%;}
    15%{margin-left: -100%;}

    20%{margin-left: -200%;}
    25%{margin-left: -200%;}

    30%{margin-left: -300%;}
    35%{margin-left: -300%;}

    40%{margin-left: -400%;}
    45%{margin-left: -400%;}

    50%{margin-left: -500%;}
    55%{margin-left: -500%;}

    60%{margin-left: -600%;}
    65%{margin-left: -600%;}

    70%{margin-left: -700%;}
    75%{margin-left: -700%;}

    80%{margin-left: -800%;}
    85%{margin-left: -800%;}

    90%{margin-left: -900%;}
    100%{margin-left: -900%;}
}
/*metodos de pago*/
.metodosPago{
    width: 100%; max-width: 1280px;
    background-color: #f3f3f344;
    margin:2rem auto;
    padding: 1rem  0;
}
.metodosPago > div{
    display: flex;flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 2rem auto 2rem;
    width: 95%;
}
.metodosPago h4{
    font-family: titulo;
    font-weight: 800;
    font-size: 1.3rem;
    text-align: center;
}
.metodosPago > div div{
    background-color: #e8ecf03c;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.059);
    border-radius: 10px;
    width: 350px;
    text-align: center;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.metodosPago p{
    font-size: 1.2rem;
}
.metodosPago div > svg{
    width: 50px;
    height: auto;
    color: rgb(16, 124, 29);
    margin: 2rem;
}


/*Posteos*/
.posteos{
    width: 95%; max-width: 1280px;
    margin:1rem auto;
    overflow-y: scroll;
}
.posteos::-webkit-scrollbar {
    display: none; /* Ocultar la pista de la barra de desplazamiento (WebKit) */
  }
  .posteos > div::-webkit-scrollbar{
    display: none;
  }
.posteos > div{
    width: 100%;
    display: flex;
    margin: 0 .3rem;
    overflow-y: scroll;
    justify-content: space-around;
    gap: 1rem;
}

.posteos > h3{
    font-size: 1.5rem;
    font-weight: 800;
    font-family: titulo;
    text-align: center;
    margin: 1rem 0;
    
}




/*footer*/
footer{
   margin:4rem 0 auto; padding: 0 0 2rem 0;
   text-align: center;
    background-color:var(--secundario) ;
}
footer div > a{
    color: var(--blanco);
    text-decoration: none;
    font-family: titulo;
    font-size: 2rem;
    transition: all .3s ease-in-out;
}
footer div > a:hover{
    color: var(--naranja);
}
footer p{
   padding: 2rem 0 1rem 0;
   color: #616161;
}
footer p > a{
    color: #ffffff;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
footer p > a:hover{
    color: var(--naranja);
}

footer > div {
    width: 95%; max-width: 1290px;
    margin: auto; padding: 2rem 0 0rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
}
footer > div img{
    width: 200px; height: 100px;
    object-fit: cover;
}
footer > div ol{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;flex-basis: 200;
    justify-content: center;
    gap: 2rem;
}
footer > div ol li{
    list-style: none;
    width: 30px ; height: 30px; 
}
footer > div ol li a svg{
    color:var(--gris);
    width: 100%; height: 100%;
    transition: all .3s ease-in-out;
}

footer > div ol li a svg:hover{
    color: #ffffff;
}


/*APARECER ELEMENTOS*/
/* CSS inicial para el elemento */
.elemento-aparecer {
    display: none; /* Ocultar inicialmente */
  }
  
  /* CSS para la animación de aparición */
  .elemento-aparecer.aparecer {
    display: block; /* Mostrar el elemento */
    animation: aparecer 1s ease-in-out; /* Animación de 1 segundo con efecto ease-in-out */
  }
  
  @keyframes aparecer {
    from {
      opacity: 0; /* Opacidad inicial 0 (transparente) */
      transform:  scale(0.5); /* Escala inicial 0.5 */
    }
    to {
      opacity: 1; /* Opacidad final 1 (opaco) */
      transform:  scale(1); /* Escala final 1 (tamaño normal) */
    }
  }


  /* CSS inicial para el elemento */
.elemento-aparecer2 {
    display: none; /* Ocultar inicialmente */
  }
  
  /* CSS para la animación de aparición */
  .elemento-aparecer2.aparecer2 {
    display: block; /* Mostrar el elemento */
    animation: aparecer2 1s ease-in-out; /* Animación de 1 segundo con efecto ease-in-out */
  }
  
  @keyframes aparecer2 {
    from {
      opacity: 0; /* Opacidad inicial 0 (transparente) */
      transform:  scale(0.5); /* Escala inicial 0.5 */
    }
    to {
      opacity: 1; /* Opacidad final 1 (opaco) */
      transform:  scale(1); /* Escala final 1 (tamaño normal) */
    }
  }




  /*carrucel*/

